#ifndef TEST_STORAGE_SRC_IO_FILE_TMPL_
#define TEST_STORAGE_SRC_IO_FILE_TMPL_

namespace TestStorage {

template void File::write<
	std::pair<BufferGuard::pointer, const BufferGuard::size_type>
>(
	std::ptrdiff_t,
	std::pair<BufferGuard::pointer, const BufferGuard::size_type>
);

template void File::write<
	std::pair<BufferGuard::const_pointer, const BufferGuard::size_type>
>(
	std::ptrdiff_t,
	std::pair<BufferGuard::const_pointer, const BufferGuard::size_type>
);

template void File::append<
	std::pair<BufferGuard::pointer, const BufferGuard::size_type>
>(
	std::pair<BufferGuard::pointer, const BufferGuard::size_type>
);

template void File::append<
	std::pair<BufferGuard::const_pointer, const BufferGuard::size_type>
>(
	std::pair<BufferGuard::const_pointer, const BufferGuard::size_type>
);

}

#endif  // TEST_STORAGE_SRC_IO_FILE_TMPL_
